/* table,tr,td, th{border:1px solid black;
border-collapse: collapse;} */



table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    margin: auto;
  }
  td {
    text-align: center;
  }
  
  th {
    color: white;
    background-color: #1a759f;
  }
  
  tr:nth-child(even) {
    background-color: #d7ebf1;
  }
  
  tr:nth-child(odd) {
    background-color: #fff;
  } 


.busqueda{
    margin-left: 390px;
}

html{
  background-image: url(/img/fondo1.jpg);
}

.contenedor {
    position: relative;
    display: inline-block;
    text-align: left;
    margin-left: 5%;
  }

  .centrado {
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
    font-family: kalam;
    text-align: center;
    font-size: 3rem;
    color: #ffffff;
  }

  .modulo {
    background-color: #3a0ca3;
    max-width: 100%;
    max-height: 3rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    border: 2px solid #0016b0;
  }

  h3 {
    color: #ffffff;
    font-size: 1.3rem;
    font-family: kalam;
    text-align: right;
    margin: 0%;
    margin-right: 2rem;
  }

  img {
    width: 7%;
  }

  .lp{
    margin-left: 23%;
  }
 