
  /* base del menu */

  img {
    width: 75%;
  }
  
  html{
    background-image: url(/src/Media/fondo1.jpg);
  }
  a,
  .centrado {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* The sidebar menu */
  .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20rem; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #3f37c9; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    text-align: center;
    margin-top: 1.4rem;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #4cc9f0;
  }
  
  /* Style page content */
  .main {
    margin-left:20rem; /* Same as the width of the sidebar */
    padding: 0px 10px;
    
    
    
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }
  
  .modulo {
    background-color: #3a0ca3;
    max-width: 100%;
    max-height: 2rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    border-radius: 15px;
    border: 2px solid #0016b0;
    color: #ffffff;
  }
  
  h3 {
    color: #ffffff;
    font-size: 1.3rem;
    font-family: kalam;
    text-align: right;
    margin: 0%;
    margin-right: 2rem;
  }
  
  /* fin de la base del menu */
  
    
    .lbl {
      display: inline-block;
      width: 50px;
      height: 30px;
      background: #979797;
      border-radius: 100px;
      cursor: pointer;
      position: relative;
      transition: 0.2s;
    }
    
    .lbl::after {
      content: "";
      display: block;
      width: 21px;
      height: 21px;
      background: #eee;
      border-radius: 100px;
      position: absolute;
      top: 4px;
      left: 4px;
      transition: 0.2s;
    }
    
    #switch:checked + .lbl::after {
      left: 25px;
    }
    
    #switch:checked + .lbl {
      background: rgb(51, 100, 233);
    }
    
    #switch {
      display: none;
    }
    
    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 5px;
      margin: auto;
    }
    td {
      text-align: center;
    }
    
    th {
      color: white;
      background-color: #1a759f;
    }
    
    tr:nth-child(even) {
      background-color: #d7ebf1;
    }
    
    tr:nth-child(odd) {
      background-color: #fff;
    } 
    
    caption {
      color: #023e8a;
      font-family: "calibri", serif;
      font-size: 35px;
      line-height: 65px;
    }
  
    #nombre {
      padding-left: 10px;
      padding-right: 10px;
    }
    
    #identificacion {
      padding-left: 10px;
      padding-right: 10px;
    }
    
    #apellido {
      padding-left: 10px;
      padding-right: 10px;
    }
    
    #telefono {
      padding-left: 10px;
      padding-right: 10px;
    }
    
    #email {
      padding-left: 10px;
      padding-right: 10px;
    }
    
    #rol {
      padding-left: 10px;
      padding-right: 10px;
    }
    
    #estado {
      padding-left: 10px;
      padding-right: 10px;
    }
    
    .botonGuardar {
      text-decoration: none;
      padding: 10px;
      font-weight: 600;
      font-size: 20px;
      color: #080808;
      background-color: #d5d8db;
      border-radius: 6px;
      border: 2px solid #0016b0;
      margin: 0%;
    }
    #btnGuardar {
      margin: 48%;
    }
    
    .botonEditar {
      text-decoration: none;
      padding: 7px;
      font-weight: 600;
      font-size: 15px;
      color: #ffffff;
      background-color: #1883ba;
      border-radius: 20px;
      border: 2px solid #0016b0;
      margin: 20px;
    }
    
    .container-formulario {
      max-width: 25rem;
      max-height: 35rem;
      background-color: #e8edf0;
      margin: 0% auto;
      border: 2px solid;
      margin-top: 0;
      box-shadow: 7px 13px 37px #dadbe2;
      border-radius: 15px;
    }
    
    .inputForm {
      font-family: "Calibri";
      margin: 1.75rem;
      text-align: left;
      margin-left: 32px;
    }
    
    .inputAct {
      width: 20rem;
      background: none;
      padding: 3px;
      border-radius: 6px;
      color: #000;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      font-size: 20px;
      padding-left: 12px;
      border-radius: 20px;
      border: 2px solid #0016b0;
    }
    
    .botones2 {
      text-align: center;
      padding-left: 15px;
      margin-bottom: 25px;
    }
    .botonGuardar:hover,
    .botonEditar:hover,
    .boton_personalizado3:hover {
      background-color: #b5179e;
    }
  
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    input[type="number"] {
      -moz-appearance: textfield;
    }
    .formulario {
      margin-left: 25px;
    }
    
    .tablaUsuarios {
      text-align: center;
    }
    
    #controlTabla {
      margin: auto;
      margin-top: 2%;
      margin-bottom: 0%;
    }
    
  
   
  
    .contenedor {
      position: relative;
      display: inline-block;
      text-align: left;
      margin-left: 5%;
    }
    
