
/* base del menu */

img {
  width: 75%;
}

html{
  background-image: url(/src/Media/fondo1.jpg);
}
a,
.centrado {
  font-family: Arial, Helvetica, sans-serif;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 20rem; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #3f37c9; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  text-align: center;
  margin-top: 1rem;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #4cc9f0;
}

/* Style page content */
.main {
  margin-left:20rem; /* Same as the width of the sidebar */
  padding: 0px 10px;
  
  
  
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.modulo {
  background-color: #3a0ca3;
  max-width: 100%;
  max-height: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  border-radius: 15px;
  border: 2px solid #0016b0;
  color: #ffffff;
}

h3 {
  color: #ffffff;
  font-size: 1.3rem;
  font-family: kalam;
  text-align: right;
  margin: 0%;
  margin-right: 2rem;
}

/* fin de la base del menu */

table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;

    padding: 5px;
    margin: auto;

  }
  td {
    text-align: center;
  }
  
  th {
    color: white;
    background-color: #1a759f;
  }
  
  tr:nth-child(even) {
    background-color: #d7ebf1;
  }
  
  tr:nth-child(odd) {
    background-color: #fff;
  } 


.fecha{
    width:150px
}

.vendedor{
    width:180px
}

.BuscadorFactura{
    margin-left: 70px;
}

.BotonModificar{
    margin-left: 70px;

}

buscador{
    display: inline;

}


